*.JPG filter=lfs diff=lfs merge=lfs -text
*.hdr filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
*.m4v filter=lfs diff=lfs merge=lfs -text
*.mem filter=lfs diff=lfs merge=lfs -text
*.usdc filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.r16 filter=lfs diff=lfs merge=lfs -text
*.max filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text
*.usdz filter=lfs diff=lfs merge=lfs -text
*.7z filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.oc3 filter=lfs diff=lfs merge=lfs -text
*.usd filter=lfs diff=lfs merge=lfs -text
*.whl filter=lfs diff=lfs merge=lfs -text
*.data filter=lfs diff=lfs merge=lfs -text
*.vps filter=lfs diff=lfs merge=lfs -text
*.usda filter=lfs diff=lfs merge=lfs -text
*.ZIP filter=lfs diff=lfs merge=lfs -text
*.jpe filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
bindata.go filter=lfs diff=lfs merge=lfs -text
*.spp filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.apk filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.aar filter=lfs diff=lfs merge=lfs -text
*.hdi filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.geo filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.pdf !text !filter !merge !diff
*.psd !text !filter !merge !diff
*.geo !text !filter !merge !diff
*.png !text !filter !merge !diff
*.lib !text !filter !merge !diff
*.tga !text !filter !merge !diff
*.jpg !text !filter !merge !diff
*.fbx !text !filter !merge !diff
*.dll !text !filter !merge !diff
*.exe !text !filter !merge !diff
*.whl !text !filter !merge !diff
*.hdr !text !filter !merge !diff
*.avi !text !filter !merge !diff
*.mp4 !text !filter !merge !diff
*.m4v !text !filter !merge !diff
*.data !text !filter !merge !diff
*.mem !text !filter !merge !diff
*.wasm !text !filter !merge !diff
*.vps !text !filter !merge !diff
*.7z !text !filter !merge !diff
*.r16[[:space:]]bindata.go !text !filter !merge !diff
*.max !text !filter !merge !diff
*.apk !text !filter !merge !diff
*.aar !text !filter !merge !diff
*.exr !text !filter !merge !diff
*.spp !text !filter !merge !diff
*.glb !text !filter !merge !diff
*.bin !text !filter !merge !diff
*.db !text !filter !merge !diff
*.hdi !text !filter !merge !diff
*.JPG !text !filter !merge !diff
*.jpeg !text !filter !merge !diff
*.zip !text !filter !merge !diff
*.oc3 !text !filter !merge !diff
*.ZIP !text !filter !merge !diff
*.obj !text !filter !merge !diff
*.jpe !text !filter !merge !diff
*.usdz !text !filter !merge !diff
*.usd !text !filter !merge !diff
*.usda !text !filter !merge !diff
*.usdc !text !filter !merge !diff
