*.pdf !text !filter !merge !diff
*.psd !text !filter !merge !diff
*.geo !text !filter !merge !diff
*.png !text !filter !merge !diff
*.lib !text !filter !merge !diff
*.tga !text !filter !merge !diff
*.jpg !text !filter !merge !diff
*.fbx !text !filter !merge !diff
*.dll !text !filter !merge !diff
*.exe !text !filter !merge !diff
*.whl !text !filter !merge !diff
*.hdr !text !filter !merge !diff
*.avi !text !filter !merge !diff
*.mp4 !text !filter !merge !diff
*.m4v !text !filter !merge !diff
*.data !text !filter !merge !diff
*.mem !text !filter !merge !diff
*.wasm !text !filter !merge !diff
*.vps !text !filter !merge !diff
*.7z !text !filter !merge !diff
*.r16[[:space:]]bindata.go !text !filter !merge !diff
*.max !text !filter !merge !diff
*.apk !text !filter !merge !diff
*.aar !text !filter !merge !diff
*.exr !text !filter !merge !diff
*.spp !text !filter !merge !diff
*.glb !text !filter !merge !diff
*.bin !text !filter !merge !diff
*.db !text !filter !merge !diff
*.hdi !text !filter !merge !diff
*.JPG !text !filter !merge !diff
*.jpeg !text !filter !merge !diff
*.zip !text !filter !merge !diff
*.oc3 !text !filter !merge !diff
*.ZIP !text !filter !merge !diff
*.obj !text !filter !merge !diff
*.jpe !text !filter !merge !diff
*.usdz !text !filter !merge !diff
*.usd !text !filter !merge !diff
*.usda !text !filter !merge !diff
*.usdc !text !filter !merge !diff
